
{% extends 'base.html' %}
{% load static %}

  <!-- ***** Header Area End ***** -->
{% block content %}

<style>
  .events-container {
  /*background-color: #283593;*/
  background-color: #e8eaf6;
  color: 3FFF;
  margin:1px;
  padding:1px;
  display:flex;
  justify-content: space-between;
  padding:45px;
  display:grid;
  /*grid-template-columns: 300px 300px 300px;*/
  /*grid-template-columns: 33% 33% 33%;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap:45px
}

.events{
  border-style: none;
  max-height: 1000px;
  overflow-y: auto;
}

.card-body{
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  flex-wrap: auto;
  /*flex-wrap: nowrap;*/
}

.dentists{
  border-style: none;
  max-height: 1000px;
  overflow-y: auto;
}

.dentist-list{
  border-style: none;
  margin-bottom: 10%;
  background-color:#00aeef !important;
  color:white;
  text-align: center;
}

.add-dentist{
  border-style: none;
  margin-top: 10%;
}

.venues{
  border-style: none;
  max-height: 1000px;
  overflow-y: auto;
}
.venue-list{
  border-style: none;
  margin-bottom: 10%;
  background-color:#00aeef !important;
  color:white;
  text-align: center;
}
.add-venues{
  border-style: none;
  margin-top: 10%;
}

.missed-apts{
  border-style:double;
  margin:2%;
  padding:2%;

}
.missed-apts h3{
  font-family: "Lucida Console", "Courier New", monospace;
  background-color:red;
}

.security-check{
  border-style:double;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:2%;
  padding:2%;
}
.security-body{
  border-style:none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:2%;
  padding:2%;
}
.security-check h2{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}
.button-html{
  border-style: groove;
  max-height: 1000px;
  overflow-y: auto;
}
.button-py{
  border-style: groove;
  max-height: 1000px;
  overflow-y: auto;
}
.button-cpp{
  border-style: groove;
  max-height: 1000px;
  overflow-y: auto;
}
</style>



<div class="events-container">

  <div class="events">
  <h3>Upcomming Appointments</h3>
  {% for event in event_list %}
  <div class="card">
    <!-- <div class="card-header">
        {{ event.venue }}
    </div> -->
    <div class="card-body">
      <h5 class="card-title"> Venue: {{ event.venue }}</h5>
      <p class="card-text"> 
          <ul>
            <li>Doctor: {{ event.doc }}</li>
            <li>First Name: {{ event.fname }}</li>
            <li>Last Name: {{ event.lname }}</li>
            <li>Appointment time : {{ event.apt_time }} </li>
            <li>Phone: {{ event.phone_number }}</li>
            <li>Email: {{ event.email_address }}</li>
            <li>Status: {{ event.is_done }}</li>
         </ul>
        </br></br>
      </p>
    </div>
    <div class="card-footer text-muted">
      <a href="events.html" class="btn btn-outline-secondary btn-sm">update appointment</a>
      <a href="events.html" class="btn btn-outline-danger btn-sm">delete appointment</a>
    </div>
  </div> 
  {% endfor %}
  <div class="card-footer text-muted">
    <a href="events.html" class="btn btn-outline-secondary btn-sm">download text file</a>
    <a href="events.html" class="btn btn-outline-danger btn-sm">download csv</a>
  </div>
  <div class="card-footer text-muted">
    <a href="events.html" class="btn btn-outline-danger btn-sm">download pdf</a>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if event_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
        <li class="page-item"></li><a class="page-link" href="?page={{ event_list.previous_page_number }}">
          Previous</a></li>
      {% endif %}

      <!-- apt_nums = event_list.paginator.num_pages -->
      <!-- 
      <li class="page-item disabled"><a href="#" class="page-link">
        Page {{ event_list.number }} of {{ event_list.paginator.num_pages }}
        </a>
      </li>
      -->
      {% for i in apt_nums %}
      <li class="page-item">
        <a class="page-link" href="?page = {{ forloop.counter }}">{{ forloop.counter }}</a>
      </li>
      {% endfor %}
      
      {% if event_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page = {{ event_list.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link" href="?page = {{ event_list.paginator.num_pages }}">
        last &raquo</a></li>
      {% endif %}
    </ul>
  </nav>
  </div>
  
  <div class="dentists">
    <!--<h3>Dentists</h3>-->
    <div class="dentist-list">
      <h3> Dentist list</h3>
      {% for dentist in dentist_list %}
      <p>
       <ul>
        <li>First Name: {{ dentist.fname }}</li>
        <li>Last Name: {{ dentist.lname }}</li>
        <li>Qualification: {{ dentist.qualification }}</li>
        <li>College: {{ dentist.college }}</li>
        <li>Experience: {{ dentist.experience_yrs }}</li>
       </ul>
       </br>
      </p>
      {% endfor %}
    </div>
    <div class="add-dentist">
      <h3>Add Dentist</h3>
      {% if submitted %}
      You have submitted a new dentist
      {% else %}
      <div class="form-group">
        <form action="" method="POST">
          {% csrf_token %}
          {{ dentistform.as_p }}
          <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
      </div> 
      {% endif %}
    </div>
  </div>

  <div class="venues">
    <!--<h3>Venues</h3>-->
    <div class="venue-list">
      <h3> Venue list</h3>
      {% for venue in venue_list %}
       <ul>
        <li>Venue Name: {{ venue.vname}}</li>
        <li>Venue Address: {{ venue.address}}</li>
        <li>Venue Zip Code: {{ venue.zip_code}}</li>
        <li>Venue Phone: {{ venue.phone}}</li>
        <li>Venue web URL: {{ venue.web}}</li>
        <li>email address: {{ venue.email_address}}</li>
       </ul></br>
      {% endfor %}
    </div>
    <div class="add-venue">
      <h3>add venue</h3>
      {% if submitted %}
      You have submitted a new Venue
      {% else %}
      <div class="form-group">
        <form action="" method="POST">
          {% csrf_token %}
          {{ venueform.as_p }}
          <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
      </div> 
      {% endif %}
    </div>
  </div>

</div>

<div class="missed-apts">
  <h3>misses appointments</h3>
  {% for apt in missed_apt_list %}
  <ul>
    <li>Doctor: {{ apt.doc }}</li>
    <li>First Name: {{ apt.fname }}</li>
    <li>Last Name: {{ apt.lname }}</li>
    <li>Appointment time : {{ apt.apt_time }} </li>
    <li>Phone: {{ apt.phone_number }}</li>
    <li>Email: {{ apt.email_address }}</li>
    <li>Status: {{ apt.is_done }}</li>
  </ul>
</br>
  {% endfor %}
</div>

<div class="security-check">
  <div class="security-title">
    <h2>Security Status</h2>
  </div>
  
  <div class="security-body">
    <div class="button-html">
      <button onclick="location.href='{% url 'web_script' %}'"> execute web data</button><hr>
      {% if web_data %}
        {{ web_data | safe }}
      {% endif %}
    </div>
    
    <div class="button-py">
      <form action="/external_py/" method="post">
        {% csrf_token %}
        Input Text:
        <input type="text" name="param" required><br><br>
        {{web_data2}}<br><br>
        <input type="submit" value="Execute external Python script"> <br><br>
      </form>
    </div>

    <div class="button-cpp">
      <form action="/external_cpp/" method="post">
        {% csrf_token %}
        Input Text:
        <input type="text" name="param" required><br><br>
        {{web_data3}}<br><br>
        <input type="submit" value="Execute external C++ script"> <br><br>
      </form>
    </div>
</div>
</div>


{% endblock %}
  <!-- ***** Footer Area Start ***** -->
  
